form {
  padding-top: 12px;
}

  input {
    height: 24px;
    padding: 0 4px;
    font-size: 14px;
    width: 126px;
  }

  button {
    display: inline-block;
    background-color: #05a3ff;
    color: #ffffff;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    padding: 0 10px;
    margin-left: 4px;
    border: none;
    cursor: pointer;
  }