form {
  padding-top: 12px;
}

  input {
    height: 30px;
    padding: 0 4px;
    font-size: 14px;
    width: 126px;
  }

  button {
    display: inline-block;
    background-color: #05a3ff;
    color: #ffffff;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    padding: 0 18px;
    margin-left: 6px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }