header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  box-shadow: 0 0 1px 1px #444;
  background-color: #05a3ff;
  z-index: 10;
}

main {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
  min-height: 100vh;
}

  aside {
    padding: 15px;
    position: fixed;
    min-width: 200px;
    left: 0;
    bottom: 0;
    top: 60px;
    box-shadow: 0 0 2px 1px #555;
  }

    contact-add {
      position: fixed;
      bottom: 20px;
    }

h1 {
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

h2 span {
  color: #999;
}