<header>
  <h1>
    {{title.toLocaleUpperCase()}}
  </h1>
</header>

<aside>
  <h2>Favourites <span>[{{getFavouritesLenght().length}}]</span></h2>
  <contact-list
    [contacts]="getFavouritesLenght(contacts)"
    [selected]="selectedContact"
    (select)="selectContact($event)">
  </contact-list>

  <h2>Contacts <span>[{{getContactsLenght().length}}]</span></h2>
  <contact-list
    [contacts]="getContactsLenght(contacts)"
    [selected]="selectedContact"
    (select)="selectContact($event)">
  </contact-list>

  <contact-add
    [contacts]="contactList">
  </contact-add>
</aside>

<main>
  <contact-details
    *ngIf="selectedContact"
    [contact]="selectedContact">
  </contact-details>
</main>